[submodule "utilities/jetsonUtilities"]
	path = utilities/jetsonUtilities
	url = https://github.com/jetsonhacks/jetsonUtilities.git
[submodule "utilities/gpuGraph"]
	path = utilities/gpuGraph
	url = https://github.com/JetsonHacksNano/gpuGraph.git
[submodule "utilities/thermal_monitor"]
	path = utilities/thermal_monitor
	url = https://github.com/tsutof/jetson-thermal-monitor
