<launch>
    <!--*********************************
    **********   Launch Node   **********
    **********************************-->
    <!-- launch-prefix=\"xterm \-e gdb \-\-args\"
    -->

    <!-- declare arguments with default values -->
    <arg name="tcp_server_ip"              default="192.168.0.106"/>
    <arg name="portno"                     default="5000"/>

    <node ns="chassis" name="chassis_receiver" pkg="chassis_receiver" type="chassis_receiver_node" output="screen">
        <param name="tcp_server_ip"      type="str"     value="$(arg tcp_server_ip)"/>
        <param name="portno"             type="int"     value="$(arg portno)"/>
    </node>
</launch>